<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--ESTE USUARIO NO FUNCIONA, ES EL QUE ESTA EN EL SAM-->
    <!--<add key="Usuario" value="julian.hernandez" />
    <add key="Pass" value="bbking845" />-->
    
    <add key="Usuario" value="Administrator@steelgo.com" />
    <add key="Pass" value="5T33lt3c2016@" />
  </appSettings>

  <connectionStrings>
    <!--<add name="GeneradorCertificados.Properties.Settings.conexionproyectoid"
        connectionString="Data Source=STEELGO-DB01\SAMLOCAL;Initial Catalog=SAM; user id=sam; password=s@mDB!;"
        providerName="System.Data.SqlClient" />-->
    <add name="GeneradorCertificados.Properties.Settings.conexionproyectoid"
        connectionString="Data Source=DESKTOP-2J7T95S\SAM2;Initial Catalog=SAM; user id=sa; password=921020;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
